body
{
	font-family: 'Lato', sans-serif;
}
img
{
	max-width: 100%;
}

a
{
	color: #009FFF;
}

.espacio-arriba
{
	margin-top: 5em;
}

.espacio-derecha
{
	margin-right: 1em;
}

.grande
{
	font-size: 3em;
}

.inline-block
{
	float: none;
	display: inline-block;
	margin-right: -4px;
}

.mediano
{
	font-size: 1.5em;
}

.no-lista
{
	margin: 0px;
	padding: 0px;
}

.no-lista li
{
	list-style-type: none;
}

.pacifico
{
	font-family: 'Pacifico', cursive;
}

.padding-largo
{
	padding: 5px 10px;
}

.se-gris
{
	background-color: #eee;
}

.quitar-float
{
	float: none;
}

.vete-arriba
{
	vertical-align: top;
}

/** COLORES **/
.verde-1
{
	color: #00887C;
}

.verde-2
{
	color: #00833D;
}

.verde-3
{
	color: #93BD2C;
}

.azul
{
	color: #009FFF;
}

.amarillo
{
	color: #EDDE05;
}

/** ANIMACIONES **/
.retraso-1
{
	-webkit-animation-delay: 1s !important;
	-moz-animation-delay: 1s;
	animation-delay: 1s !important;
}

.retraso-2
{
	-webkit-animation-delay: 2s !important;
	-moz-animation-delay: 2s;
	animation-delay: 2s !important;
}